# Tarea 1 Bases de Datos 2023-1 Grupo 13

## Integrantes:
* Carlos Saavedra - 202173062-1
* Carlos Bracamonte - 202173047-8

## Requisitos para Correr el Notebook

Para poder utilizar este Notebook se debe tener instalado:
- **Python 3**
- **Jupyter**
- La librería **ipython-sql** (Poder ejecutar sql en Jupyter Notebook)
- PostgreSQL y su conector desde Python(**psycopg2**)

**IMPORTANTE:** Este Jupyter Notebook se conectará a su servicio de Base de Datos PostgreSQL de manera **local**, por lo que **no funcionará correctamente en el entorno Google Collab.**

Para instalar las dependencias, ejecute (**recuerde actualizar pip3**):

In [ ]:
! pip3 install ipython-sql
! pip3 install psycopg2

#Use to generate names
! pip3 install names

## Importar dependencias

In [2]:
from datetime import datetime
import random as r
import names

#Librerías para PostgreSQL
import psycopg2

Para conectarse a la base de datos, completen los datos relevantes en la variable DATABASE_URL.

* Cambie `user` por el usuario que utilizó en Postgres para acceder a la Base de Datos. Por defecto `postgres`.
* Cambie `password` por la contraseña de dicho usuario. **Recuerde borrarla antes de entregar su tarea.**
* Cambie `port` por el puerto en que se ejecuta su servicio de Base de Datos. Por defecto `5432`.
* Cambie `database` por el nombre de la BD (Schema) que creó en Postgres.

Ejemplo: `postgresql://postgres:pass_segura@localhost:5432/tarea-bd`

In [4]:
%reload_ext sql
%env DATABASE_URL=postgresql://postgres:password@localhost:5432/dbname

env: DATABASE_URL=postgresql://postgres:unifroxt@localhost:5432/dbname

Para conectarse de forma declarativa a la Base de Datos, utilice el siguiente código:

In [ ]:
#Recuerde cambiar los valores de USER, DBNAME y PASSWORD por los mismos de la celda superior.
connection = psycopg2.connect(
   host="localhost",
   user="postgres",
   dbname='dbname',
   password="password"
)

print(connection)
cursor = connection.cursor()

## Crear tablas (36 pts.)

Aquí inserta el código SQL que creara las tablas de la base de datos:

### Tabla "facciones" (6 pts)

In [ ]:
%%sql
CREATE TABLE facciones (
 id INT GENERATED ALWAYS AS IDENTITY,
 nombre VARCHAR(45) NOT NULL,
 descripcion VARCHAR(45) NOT NULL,
 PRIMARY KEY (id)
);

### Tabla "trabajos" (6 pts)

In [ ]:
%%sql
CREATE TABLE trabajos (
	id INT GENERATED ALWAYS AS IDENTITY,
	nombre VARCHAR(45) NOT NULL,
 	descripcion VARCHAR(45) NOT NULL,
	sueldo INT NOT NULL,
	PRIMARY KEY (id)
);

### Tabla "personas" (6 pts)

In [ ]:
%%sql
CREATE TABLE personas (
	id INT GENERATED ALWAYS AS IDENTITY,
	nombre VARCHAR(45) NOT NULL,
	apellidos VARCHAR(45) NOT NULL,
	fecha_nacimiento DATE NOT NULL,
	infectado BOOL NOT NULL,
	conyugue INT,
	PRIMARY KEY(id),
	FOREIGN KEY (conyugue) REFERENCES personas (id)
);

### Tabla "cuentas_bancarias" (6 pts)

In [ ]:
%%sql
CREATE TABLE cuentas_bancarias (
	id INT GENERATED ALWAYS AS IDENTITY,
	tipo_de_cuenta VARCHAR(45) NOT NULL,
	banco VARCHAR(45) NOT NULL,
	saldo INT NOT NULL,
	id_persona INT,
	PRIMARY KEY (id),
	FOREIGN KEY (id_persona) REFERENCES personas (id)
);

### Tabla "persona_pertenece_faccion" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_pertenece_faccion (
	id_persona INT,
	id_faccion INT,
	PRIMARY KEY(id_persona, id_faccion),
	FOREIGN KEY (id_persona) REFERENCES personas (id),
	FOREIGN KEY (id_faccion) REFERENCES facciones (id)
);

### Tabla "persona_tiene_trabajo" (6 pts)

In [ ]:
%%sql
CREATE TABLE persona_tiene_trabajo (
	id_persona INT,
	id_trabajo INT,
	estado BOOL NOT NULL,
	ultima_vez_realizado TIMESTAMP NOT NULL,
	PRIMARY KEY(id_persona, id_trabajo),
	FOREIGN KEY (id_persona) REFERENCES personas (id),
	FOREIGN KEY (id_trabajo) REFERENCES trabajos (id)
);

## Código Generador de Datos

Ejecute este código para cargar datos a las tablas creadas.

PD: Si el codigo tira error por "violar la unicidad de las PK" es por una coincidencia de numeros random, solamente volver a ejecutar el codigo

In [ ]:
#Recuerde haber ejecutado todas las celdas anteriores!

# Generador de timestamp aleatorio.
def generate_timestamp_nacimiento():
    year = r.randint(1970,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

def generate_timestamp_trabajo():
    year = r.randint(2019,2022)
    month = r.randint(1,12)
    day = r.randint(1,31)
    
    hour = r.randint(0,23)
    minute = r.randint(0,59)
    second = r.randint(0,59)
    
    if month in [4, 6, 9, 11] and day > 30:
        day = 30
        
    if month == 2 and day > 28:
        day = 28
        
    return datetime(year, month, day, hour, minute, second)

print("Borrando Datos Antiguos...")

# Limpia la base de datos.
connection.commit() # En caso de algun error
query = 'TRUNCATE TABLE "facciones", "trabajos", "personas", "cuentas_bancarias", "persona_pertenece_faccion", "persona_tiene_trabajo" RESTART IDENTITY'
cursor.execute(query)
connection.commit()

print("Generando Datos...")

facciones = [("FEDRA", "La Agencia Federal de Respuesta a Desastres"), ("Luciérnagas", "Grupo de milicias revolucionario"), ("Carroñeros", "Sin identificación"), ("Pythonia", "Grupo defensor de la libertad"), ("MaCdonia", "Los exiliados de la carceles"), ("JavaScriptia", "Grupo defensor de la paz")]
trabajos = [("Limpieza", "Encargado de limpiar las calles"),
("Limpiador de cloacas","Encargado de limpiar las cloacas"),
("Militar","Encargado de proteger la ciudad"),
("Explorador","Encargado de explorar la ciudad"),
("Médico","encargado de curar a los enfermos"),
("Profesor","Encargado de enseñar a los niños"),
("Cremador","Encargado de quemar los cadáveres"),
("Científico","Encargado de investigar"),
("Cocinero","Encargado de cocinar"),
("Carpintero","Encargado de construir"),
("Cerrajero","Encargado de reparar las cerraduras"),
("Cartero","Encargado de repartir los correos"),
("Cajero","Encargado de cobrar los impuestos")]
tipos_de_cuenta_bancaria = ["Cuenta Vista", "Cuenta Ahorro", "Cuenta Corriente", "Cuenta RUT", "Cuenta de Inversion", "Cuenta PrePago", "Cuenta de Credito"]
bancos = ["FedraBank S.A", "Banco Pedrito Pascal SpA", "Banco Pythonia S.A", "Banco de la Nación S.A", "Banco Santander SpA", "Banco BCI SpA", "Banco Estado SpA", "Banco Consorcio S.A", "Banco BBVA", "Banco Scotiabank"]

# Variables.
n_facciones = len(facciones)
n_trabajos = len(trabajos)
n_personas = 1000
n_cuentas_bancarias = 120
n_persona_pertenece_faccion = 300
n_persona_tiene_trabajo = 300
n_casados = 100

# Genera personas.
personas = []
for _ in range(n_personas):
    nombre = names.get_first_name()
    apellidos = names.get_last_name()+" "+names.get_last_name()
    fecha_nacimiento = generate_timestamp_nacimiento()
    infectado = r.choice([True, False])
    
    personas.append((nombre, apellidos, fecha_nacimiento, infectado, None))


# Genera cuentas bancarias.
cuentas_bancarias = []
for _ in range(n_cuentas_bancarias):
    tipo_de_cuenta = r.choice(tipos_de_cuenta_bancaria)
    banco = r.choice(bancos)
    saldo = r.randint(0, 10000)
    id_persona = r.choice(range(1, n_personas+1))
    
    cuentas_bancarias.append((tipo_de_cuenta, banco, saldo, id_persona))
    
    
# Generate persona_pertenece_faccion.
persona_pertenece_faccion = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_facciones+1))) for _ in range(1, n_persona_pertenece_faccion+1)])

# Generate persona_tiene_trabajo.
persona_tiene_trabajo_prev = set([(r.choice(range(1, n_personas+1)), r.choice(range(1, n_trabajos+1))) for _ in range(1, n_persona_tiene_trabajo+1)])
persona_tiene_trabajo = [(id_persona, id_trabajo, r.choice([True, False]), generate_timestamp_trabajo()) for id_persona, id_trabajo in persona_tiene_trabajo_prev]
    
# SQL Statements.
inserts = [
    'INSERT INTO "facciones" ("nombre", "descripcion") VALUES (%s, %s);',
    'INSERT INTO "trabajos" ("nombre", "descripcion", "sueldo") VALUES (%s, %s, %s);',
    'INSERT INTO "personas" ("nombre", "apellidos", "fecha_nacimiento", "infectado", "conyugue") VALUES (%s, %s, %s, %s, %s);',
    'INSERT INTO "cuentas_bancarias" ("tipo_de_cuenta", "banco", "saldo", "id_persona") VALUES (%s, %s, %s, %s);',
    'INSERT INTO "persona_pertenece_faccion" ("id_persona", "id_faccion") VALUES (%s, %s);',
    'INSERT INTO "persona_tiene_trabajo" ("id_persona", "id_trabajo", "estado", "ultima_vez_realizado") VALUES (%s, %s, %s, %s);'
]

for faccion in facciones:
    cursor.execute(inserts[0], faccion)

for trabajo in trabajos:
    t = (trabajo[0], trabajo[1], r.randint(100, 5000))
    cursor.execute(inserts[1], t)

# Crear una lista con personas casadas y otra con personas solteras. donde se cambie la ide de la persona que se casó.

for persona in personas:
    cursor.execute(inserts[2], persona)
    
for cb in cuentas_bancarias:
    cursor.execute(inserts[3], cb)

for ppf in persona_pertenece_faccion:
    cursor.execute(inserts[4], ppf)
    
for ptt in persona_tiene_trabajo:
    cursor.execute(inserts[5], ptt)
    
connection.commit()


# Generar Matrimonios
n_repetidos = []

for i in range(n_casados):
    random = r.randint(1, n_personas)
    if random in n_repetidos:
        continue
    else:
        random2 = r.randint(1, n_personas)
        if random2 in n_repetidos:
            continue
        else:
            n_repetidos.append(random)
            n_repetidos.append(random2)
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random2, random))
            cursor.execute("UPDATE personas SET conyugue = %s WHERE id = %s", (random, random2))
            connection.commit()

print("Todo Listo!")

## Consultas (64 pts.)

Escriba aquí las consultas pedidas. Recuerde agregar una descripción _breve_ de cómo funciona la solución. **Escriba las consultas de forma ordenada.**

**NOTA:** Cuando en una consulta diga "X cosa" significa que ustedes deben de elegir ese X por lo que para cualquier otro X debe de funcionar de igual forma.

### Consulta 1 (6 pts)
**ID, nombre y primer apellido de los habitantes de FEDRA**

Ejemplo:

|ID |  Nombre      |  Apellido  |
|---|-----------|-----------|
| 12 |Joel | Miller |
|21 | Ellie | Williams |
| ... | ... | ... |

**Solución:** Primero formamos una tabla que contenga el id, nombre y apellidos de las personas que tienen facción y la id de la facción a la que pertenecen, esto lo logramos haciendo un _'INNER JOIN'_ de las tablas personas y persona_pertenece_faccion haciendo "match" entre el id de las personas y el id_persona. Luego a la tabla resultante (llamada t1) le hacemos otro _'INNER JOIN'_ ahora con la tabla facciones, haciendo que coincida la id_faccion de la tabla t1 con la id de la tabla facciones, además tomamos solo las personas que pertenecen a FEDRA. De la tabla final tomamos el id, el nombre y el primer apellido de las personas, con _'split\_part(apellidos,' ',1)'_ separamos apellidos en lo que hay antes y después del espacio y elegimos la primera parte de la separación, que es el primer apellido.

In [ ]:
%%sql

SELECT	
	t1.id, t1.nombre,  split_part(apellidos,' ',1) as "Apellido"
FROM (
	SELECT
		id, nombre,  apellidos, id_faccion
	FROM
		personas INNER JOIN persona_pertenece_faccion
	ON
		personas.id = persona_pertenece_faccion.id_persona
	) AS t1
INNER JOIN facciones
ON 
	t1.id_faccion = facciones.id AND facciones.nombre = 'FEDRA'
ORDER BY id ASC;

### Consulta 2 (6 pts)
**Cantidad de personas nacidas después del inicio de la pandemia.**(inicio de la pandemia 01-12-2019)

Ejemplo:


| Cantidad     | 
|--------------|
| 292 | 

**Solución:** _Se selecciono la cantidad de filas (usando COUNT()) de la columna "personas" que cumplan con la condición de haber nacido luego de dicha fecha_

In [ ]:
%%sql

SELECT
	COUNT(*) AS "Cantidad"
FROM
	personas
WHERE
	personas.fecha_nacimiento > '2019-12-01';

### Consulta 3 (6 pts)
**ID, nombre, apellidos y saldo total de todas las personas**( Limitar a 20 filas para visualizar)

Ejemplo:

| ID    | Nombre | Apellido | Dinero | 
|----------------|--------|-|-|
| 13 | Tommy | Miller | 12501 |
| ... | ... | ... | ... |

**Solución:** _Para realizar la consulta se juntaron las tablas "personas" y "cuentas bancarias" tal que id persona indique con el id de la persona a la que pertenece la cuenta_

_Luego se agrupo por los de id de las personas y se limito a 20 registros._

_Se consideraron solo personas que tienen cuenta bancaria, pues son las que tienen saldo._

In [ ]:
%%sql

SELECT 
    personas.id, nombre, split_part(apellidos,' ',1) AS "Apellido", sum(saldo) as "Dinero"
FROM 
    personas INNER JOIN cuentas_bancarias
ON 
    personas.id = cuentas_bancarias.id_persona
GROUP BY personas.id
LIMIT 20;

### Consulta 4 (6 pts)
**Nombre de la Facción y la cantidad de trabajadores activos hasta fecha X.**

Ejemplo:

| Facción     | Cantidad de trabajadores |
|----------------|--------|
| FEDRA | 1273 |
| Luciérnagas | 121 |
| Carroñeros  | 72 |
| ...  | ... |

**Solución:** _Para la consulta se crearon las siguientes subconsultas:_

**_tabla_1 = {id_persona}_** Contiene los id's de las personas que hayan realizado un trabajo hasta la fecha X, y se encuentren actualmente activos

**_personas_trabajadoras = {persona_pertenece_faccion.id_persona}_** obtine los id's de las facciones a las que pertenecen las personas de la "tabla_1"

_**nueva = {nombre, Cantidad de trabajadores}**_ Juntando lo anterior con "facciones", identifica las funciones por su nombre y cuenta cuanto se repiten (la cantidad de trabajadores activos hasta fecha X)

_Finalmente, se agrupo por nombre y se ordena_

In [ ]:
%%sql

SELECT 
	nueva.nombre AS "Nombre", COUNT(id) AS "Cantidad de trabajadores"
FROM (
    SELECT * 
    FROM 
        facciones 
		INNER JOIN 
		(SELECT 
		 	 persona_pertenece_faccion.id_faccion 
         FROM 
             persona_pertenece_faccion 
			 INNER JOIN 
			 (SELECT 
				 id_persona
              FROM 
			 	 persona_tiene_trabajo
              WHERE 
               	 persona_tiene_trabajo.ultima_vez_realizado < '2020-07-13' #Fecha X
              AND persona_tiene_trabajo.estado = true
		     ) AS tabla_1
             ON persona_pertenece_faccion.id_persona = tabla_1.id_persona
		) AS personas_trabajadoras
    ON facciones.id = personas_trabajadoras.id_faccion
	) AS nueva
GROUP BY "Nombre"
ORDER BY "Cantidad de trabajadores" DESC;

### Consulta 5 (6 pts)
**Nombre de la Facción y su cantidad de personas infectadas.**

Ejemplo:

|  Facción  | Personas infectadas | 
|--------|-------|
| FEDRA | 251 |
| Luciérnagas | 17 |
| Carroñeros  | 12 |
| ...  | ... |

**Solución:** Realizamos un INNER JOIN entre la tabla personas y la tabla persona_pertenece_faccion de la tabla resultante tomamos el id de las personas y el id de la facción a la que pertenece, pero solo en los casos en los que la persona esta infectada. Luego a la tabla resultante la unimos con la tabla facciones, luego agrupamos la tabla final por el nombre de las facciones y contamos cuantas personas infectadas tiene.

In [ ]:
%%sql

SELECT 
	nombre AS "Facción", COUNT(*) AS "Personas Infectadas"
FROM (
	SELECT 
		id, id_faccion
	FROM 
		personas INNER JOIN persona_pertenece_faccion
	ON
		personas.id = persona_pertenece_faccion.id_persona
	WHERE infectado = true
	) AS t5
INNER JOIN facciones
ON 
	t5.id_faccion = facciones.id
GROUP BY nombre
ORDER BY "Personas Infectadas" DESC;

### Consulta 6 (6 pts)
**Nombre de la Facción y su trabajo más realizado.**

Ejemplo:

|  Facción  | Trabajo | 
|--------|-------|
| FEDRA | Limpiador de cloacas |
| Luciérnagas | Médico |
| Carroñeros  | Explorador |
| ...  | ... |

**Solución:** 

_Para obtener esta consulta, primero hacemos las siguientes subconsultas:_

**_tabla = {id_faccion, id_trabajo, cant}_** donde cant hace referencia a la cantidad de registros que hay de igual id_trabajo con dicha id_faccion.

**_tabla2 = {id_faccion, mayor}_** mayor es MAS(cant) haciendo uso de "tabla", apartamos solo los id_facciones con el número mayor entre los cant que tienen asociados

**_tabla3 = {id_faccion, id_trabajo}_** juntando "tabla" y "tabla2", seleccionamos solo aquellos pares id_faccion e id_trabajo que coincidan en tener la mayor cantidad de veces realizado

**_tabla4 = {nombre, id_trabajo}_** juntando "facciones" con "tabla3" se usa para poder tener el nombre de las facciones

_Finalmente juntamos "tabla4" con "trabajos" para tener los nombres de los trabajos_

_Se considera el número histórico de trabajadores para el cálculo._

In [ ]:
%%sql

SELECT 
	tabla4.nombre AS "Faccion", trabajos.nombre AS "Trabajo" 
FROM 
	trabajos 
	INNER JOIN
	(SELECT 
	 	nombre, id_trabajo 
 	 FROM
 	 	facciones 
		INNER JOIN 
 		(SELECT 
			DISTINCT ON(tabla2.id_faccion) tabla2.id_faccion, tabla.id_trabajo 
  		 FROM
 		 (SELECT 
		 	id_faccion, id_trabajo, COUNT(*) AS cant 
		  FROM 
			persona_pertenece_faccion INNER JOIN persona_tiene_trabajo
			ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
			GROUP BY id_faccion, id_trabajo
		 ) AS tabla
  		 INNER JOIN
		 (SELECT 
		 	id_faccion, MAX(cant) AS mayor
	 	  FROM 
		  (SELECT 
		  	id_faccion, id_trabajo, COUNT(*) AS cant 
		   FROM 
		    persona_pertenece_faccion INNER JOIN persona_tiene_trabajo
		    ON persona_pertenece_faccion.id_persona = persona_tiene_trabajo.id_persona
		    GROUP BY id_faccion, id_trabajo
		  ) AS tabla
		  GROUP BY id_faccion
		 ) AS tabla2
  		 ON tabla2.mayor = tabla.cant AND tabla.id_faccion = tabla2.id_faccion
		) AS tabla3
		ON tabla3.id_faccion = facciones.id
	) AS tabla4
	ON tabla4.id_trabajo = trabajos.id;

### Consulta 7 (8 pts)
**Nombre de la Facción y su Saldo total** (Es decir, la suma total de los saldos de cada persona perteneciente a la facción.)

Ejemplo:

|Facción | Saldo |
|--------|-|
| FEDRA | 523000 |
| Luciérnagas | 130023 |
| Carroñeros  | 17432 |
| ...  | ...|

**Solución:** Primero obtenemos una tabla con la id de las personas y la id de la facción a la que corresponde, esto lo logramos haciendo un INNER JOIN de personas con persona_pertenece_faccion haciendo corresponder las PK con las FK correspondientes, a esta tabla la llamamos t7. Luego, hacemos una tabla del id de una persona con el nombre de la facción correspondiente, para esto hacemos otro INNER JOIN entre t7 y facciones, de manera similar a la anterior correspondemos PK con FK y a esta nueva tabla la llamamos t7_2. Finalmente hacemos un INNER JOIN entre t7_2 y cuentas_bancarias para tener el saldo de una cuenta bancaria en una tabla junto al nombre de la faccion a la que pertence esta cuenta, agrupamos por nombre de la facción y sumamos todos los saldos.

In [ ]:
%%sql

SELECT 
	nombre AS "Facción", SUM(saldo) AS "Saldo"
FROM(
	SELECT 
		t7.id, facciones.nombre
	FROM(
		SELECT 
			id, id_faccion
		FROM 
			personas INNER JOIN persona_pertenece_faccion
		ON
			personas.id = persona_pertenece_faccion.id_persona
	)as t7
	INNER JOIN facciones
	ON t7.id_faccion = facciones.id
)as t7_2
INNER JOIN cuentas_bancarias
ON t7_2.id = cuentas_bancarias.id_persona
GROUP BY "Facción"
ORDER BY "Saldo" DESC;

### Consulta 8 (6 pts)
**Nombre del Banco, cantidad de usuarios pertenecientes al banco y saldo total del banco.**

###### Es decir, todos los bancos que ocupan los habitantes de cada faccion

Ejemplo:

|Banco | Cantidad|Saldo|
|----|---|---|
|FedraBank S.A |321|20000|
|Banco Pedrito Pascal SpA  |21|200| 
| Banco De Chile|213|56000|
| ... | ... |

**Solución:** Se agrupa la tabla cuentas_bancarias según el banco en el que está la cuenta bancaria, se realiza un count(*) para encontrar la cantidad de cuentas que tiene cada banco y un SUM(saldo) para saber el saldo total de cada banco. Finalmente se ordena por saldo de forma descendente.

In [ ]:
%%sql

select banco, count(*) AS "Cantidad", SUM(saldo) AS "Saldo"
from cuentas_bancarias
GROUP BY banco
ORDER BY "Saldo" DESC;

### Consulta 9 (8 pts)
**Nombre de la Facción y el Banco más utilizado por sus habitantes**(Si hay empate, que se muestre solo uno.)

Ejemplo:
   
|Facción | Banco |
| - | - |
| FEDRA | FedraBank S.A |
| Luciérnagas | Banco Pedrito Pascal SpA |
| ... | ... |

**Solución:** Hacemos un INNER JOIN de personas con persona_pertence_faccion y el resultado de eso le hacemos otro INNER JOIN ahora con facciones, de esta forma obtenemos una tabla con las id de las personas y el nombre de la facción a la que pertenece. Esta tabla luego la unimos con la de cuentas_bancarias y la agrupamos por el nombre de la facción, finalmente usamos _'mode() within group (order by banco)'_ para obtener el banco más usado por cada facción, mode() se que encarga de mostrar solo un banco cuando hay empate.

In [ ]:
%%sql

SELECT 
    nombre AS "Nombre", mode() within group (order by banco) AS "Banco"
FROM(
	SELECT 
        t9.id, facciones.nombre
	FROM(
		SELECT 
            id, id_faccion
		FROM 
		personas INNER JOIN persona_pertenece_faccion
		ON
		personas.id = persona_pertenece_faccion.id_persona
	)as t9
	INNER JOIN facciones
	ON t9.id_faccion = facciones.id
)AS t9_2
INNER JOIN cuentas_bancarias
ON t9_2.id = cuentas_bancarias.id_persona
GROUP BY nombre
ORDER BY "Banco" ASC;

### Consulta 10 (6 pts)
**ID, nombre y segundo apellido de las personas traidoras**(Es decir, si la persona pertenece a dos o más facciones.)

Ejemplo:
   
|ID | Nombre | Apellido | 
|-|-------|-|
| 1 | Pedro | Pascal |
| 2 | Bella | Ramsey |
| ... | ... | ... | 

**Solución:** Primero realizamos un inner join entre la tabla personas y la tabla persona\_pertenece\_faccion haciendo que coincida el id de las personas con id_persona en la tabla persona\_pertenece\_faccion, luego la tabla resultante la agrupamos por id, nombre y apellidos de las personas y tomamos solo las que tengan un _'COUNT(id\_faccion)'_ mayor a 1, es decir que tenga más de una facción asociada a esa id, nombre y apellidos. De la tabla final mostramos el id, el nombre y el segundo apellido usando una técnica similar a la anterior y la ordenamos por id.

In [ ]:
%%sql

SELECT
	id, nombre, split_part(apellidos,' ',2) as "Apellido"
FROM
	personas INNER JOIN persona_pertenece_faccion
ON
	personas.id = persona_pertenece_faccion.id_persona
GROUP BY
	id, nombre, apellidos
HAVING
	COUNT(id_faccion) > 1
ORDER BY id ASC;

### Consulta BONUS (6 pts.)

**Nombre y Apellidos de las personas casadas**(solo se muestra una única vez la pareja)

Ejemplo:
   
|Nombre persona 1 | Apellidos persona 1 | Nombre persona 2 | Apellidos persona 2 |
|-|-------|-|-|
| Felipe | Martinez | Raul | Cuello |
| Rodrigo | Munita | Juan | Mira |
| Nicole | Rojel | Benjamin | Campos |
| ... | ... | ... | ... |

**Solución:** _Hacemos uso de la siguiente subconsulta:_

**_conyugues = {id, nombre, apellidos, pareja}_** Acá seleccionamos las personas de la tabla "personas" que no tengan la columna "conyugue" vacía, es decir, aquellas filas que si tienen conyugue

_Finalmente, juntamos "conyugues" con "personas" tal que el id de las personas sea igual a la pareja del conyugue._

_para que las parejas no se repitan en la tabla, agregamos la condicion de que el id del primero que seleccionamos debe ser mayor al otro, asi para cuando se vuelva a repetir la pareja pero en orden opuesto, no lo agarre la consulta dado que, al estar en orden opuesto, ya no cumplirá la condición_

In [ ]:
%%sql

SELECT 
    personas.nombre AS "Nombre persona 1", personas.apellidos AS "Apellidos persona 1", 
    conyugues.nombre AS "Nombre persona 2", conyugues.apellidos AS "Apellidos persona 2"
FROM 
    personas 
    INNER JOIN
    (SELECT 
        id, nombre, apellidos, conyugue as pareja
	 FROM 
        personas 
	 WHERE 
        conyugue IS NOT NULL
    ) AS conyugues
    ON personas.id = conyugues.pareja
    AND personas.id >conyugues.id;